.css-1mqb043.arrow, [data-css-1mqb043].arrow {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 8px;
    top: 15px;
    transition: top 250ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
    transition-property: top;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-delay: 0s;
}