#review-model .reviews {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  height: 70px;
  overflow: hidden;
}

#review-model .allReviews {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  transition: height 500ms;
}

#review-model button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: white;
  border: none;
  padding-left: 0px;
  white-space: nowrap;
  padding: 0px;
}

#review-model button:focus {
  outline: none;
}

.overallButton svg {
  position: relative;
  top: -2px;
}

.review svg {
  position: relative;
  top: 4px;
}

#review-model .overallButton {
  padding: 16px 0px;
  font-size: 16px;
  width: 100%;
  padding-left: 0px;
  -webkit-box-shadow: inset 0 1px 0 0 #e5e5e5;
  box-shadow: inset 0 1px 0 0 #e5e5e5;
}

#review-model .reviewOversight {
  font-weight: 500;
  letter-spacing: 0.5px;
  float: left;
}

#review-model .overallStars {
  float: right;
}

#review-model .reviewTitle {
  font-weight: 700;
}

#review-model p {
  margin: 4px 0px 12px 0px;
  line-height: 1.714285714285714;
  font-size: 12px;
}

#review-model .reviewstars {
  font-size: 12px;
}

#review-model .reviewDateAndAuthor {
  font-size: 12px;
  color: #6d6d6d;
  margin-left: 20px;
}

#review-model .reviewBody {
  font-size: 14px;
  margin-bottom: 40px;
}

#review-model .moreReviewsbutton {
  margin-bottom: 60px;
  border-bottom: 1px solid black;
}

#review-model .overallArrow {
  float: right;
  margin-left: 10px;
}

#review-model .moreButton {
  border-bottom: 1px solid black;
}

#review-model .shippingTitle {
  font-weight: 500;
  float: left;
}

#review-model .shipping {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 60px;
  width: 100%;
  overflow: hidden;
}

#review-model .allShipping {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  transition: height 500ms;
}

#review-model ul {
  font-size: 12px;
  margin-left: 5px;
  padding-left: 10px;
}

#review-model li {
  margin-bottom: 5px;
  margin-left: 0px;
  padding-left: 0px;
  align-content: left;
}
